body {
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.theme-light {
    background-color: #f4f4f4;
    color: #333;
}

.theme-dark {
    background-color: #121212;
    color: #ffffff;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.youtube-text {
    color: #ff0000;
}

.spotify-text {
    color: #1db954;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.theme-dark .container {
    background-color: #1e1e1e;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
}

.btn-success {
    background-color: #28a745;
}

.btn:hover {
    opacity: 0.9;
}
