{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Historique des exports</h1>
    <p>Retrouvez vos précédentes clés API et exportations de playlists.</p>

    <h2>Dernières clés API utilisées :</h2>
    <ul>
        <li>Clé API YouTube : {{ user_data.get('youtube_api_key', 'Non enregistrée') }}</li>
        <li>Client ID Spotify : {{ user_data.get('spotify_client_id', 'Non enregistré') }}</li>
        <li>Client Secret Spotify : {{ user_data.get('spotify_client_secret', 'Non enregistré') }}</li>
    </ul>
</div>
{% endblock %}
