{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <h1 class="mt-5 text-success">🎉 Transfer Successful! 🎉</h1>
    <p>Your playlist has been successfully imported to Spotify.</p>
    
    <!-- Button to return to the home page -->
    <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Return to Home Page</a>

    <!-- Button to open the playlist on Spotify if possible -->
    {% if spotify_playlist_url %}
        <a href="{{ spotify_playlist_url }}" target="_blank" class="btn btn-success mt-3">View Playlist on Spotify</a>
    {% endif %}
</div>
{% endblock %}
